h1 {
    margin: 0;
    color: rgb(177, 79, 188);
}

header {
    text-align: center;
}

body {
    background-color: aquamarine;
    align-items: center;
    
}

#reset-button {
    border: 2px solid blueviolet;
    color: blueviolet;
    padding: .2em;
    display: block;
    margin: auto;

}

textarea[name="user-input"] {
    border: 4px solid rgb(177, 79, 188);
    background-color: rgb(219, 193, 230);
    width: 300px; 
    height: 150px; 
    padding: 10px;
    box-sizing: border-box;
    display: block;
    margin: auto;
}

.item {
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin: auto;
    box-sizing: border-box;
    border: 2px solid rgb(177, 79, 188);
    background-color: rgb(219, 193, 230);
    padding: 10px;
    width: 300px;
    display: block;
}

footer {
    text-align: center;
    color: rgb(177, 79, 188);
    padding: 10px;
}